a, a:link, a:visited {
  text-decoration: none;
}

a:focus, a:active, a:hover {
  text-decoration: underline;
}

a:focus, a:active {
  outline: 1px solid;
}

body > header, main {
  padding: 0 1.5rem;
}

body > header {
  align-items: center;
  display: flex;
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo__link {
  font-size: 1.5rem;
}

main {
  margin-top: 5rem;
}

#content {
  margin: 0 auto;
}

@media (min-width: 37.5rem) {
  #content {
    max-width: 53.125rem;
    min-width: 37.5rem;
  }
}

.zone__link {
  font-size: 1.25rem;
  text-transform: uppercase;
}

article {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: .5rem;
}

#content article:not(:last-child) {
  margin-bottom: 1rem;
}

article header, .zone__period {
  align-items: center;
  display: flex;
}

article header span {
  margin-right: .25rem;
}

.zone__period {
  margin: .5rem auto;
}

.zone__period-item:first-child {
  width: 50%;
}

.zone__period-item {
  font-size: .75rem;
}

.zone__period-item-header {
  text-transform: uppercase;
}

.zone__period .zone__period-item:not(:first-child) {
  margin-left: .5rem;
}

.modal__bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.zone__warning {
  border-width: 3%;
  border-style: solid;
  bottom: 0;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 97%;
  height: 97%;
}

@media (min-width: 28.125rem) {
  .zone__warning {
    width: unset;
    height: unset;
  }
}

.warning__navbar {
  display: flex;
  align-items: center;
}

.warning__navbar-title {
  flex: 1;
  font-size: 1.25rem;
  padding: 1rem 1rem 0 1rem;
  text-transform: uppercase;
}

@media (min-width: 28.125rem) {
  .warning__navbar .material-icons {
    position: relative;
    top: -2.6rem;
    right: -2.38rem;
  }
}

.warning__body {
  padding: 0 1rem;
}

.zone__warning .material-icons {
  cursor: pointer;
}

article > p {
  margin-top: .5rem;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}
